* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgb(28, 26, 161),
    rgb(128, 0, 17),
    rgb(28, 26, 161),
    rgb(128, 0, 17),
    rgb(28, 26, 161),
    rgb(128, 0, 17)
  );
  padding: 30px;
  min-height: 100vh;
}

.title {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
}

.newsList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.newsContainer {
  background-color: rgb(197, 236, 171);
  border: 5px dotted white;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  width: 50vh;
}

.newsContainer:hover {
  border-color: rgb(216, 227, 21);
  background-color: rgb(10, 167, 67);
  cursor: pointer;
}

.handIcon {
  display: block;
  margin: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.searchForm {
  padding: 20px;
  width: 100%;
}

.searchInput {
  margin: 10px;
}

.process {
  color: white;
}

.newsUrl {
  text-decoration: none;
  color: black;
}
