.App {
  font-family: sans-serif;
  text-align: center;
}

.newsList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.newsContainer {
  background-color: rgb(197, 236, 171);
  border: 5px dotted white;
  margin: 20px;
  padding: 10px;
}

.handIcon {
  display: block;
  margin: 20px;
}
